<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        font-size: 12px;
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 10px;
    }

    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat.lg .name {
        font-size: 16px;
    }

    .stat-col .progress {
        height: 2px;
    }

    .stat-col .progress-bar {
        line-height: 2px;
        height: 2px;
    }

    .item {
        padding: 30px 0;
    }
</style>
<div class="row" style="text-align: center">
    <div style="border-bottom: 2px solid #000000;"></div>
    <h3 style="margin-bottom: 17px;">《今天实时数据》</h3>
</div>
<!--今天的数据-->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{$data['visit']}</h3>
                <p>今天总访问量</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{$data['order_count']}</h3>
                <p>今天总订单量</p>
            </div>
            <div class="icon">
                <i class="fa fa-area-chart"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{$data['pay_done']}</h3>
                <p>今天总支付量</p>
            </div>
            <div class="icon">
                <i class="fa fa-camera"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{$data['pay_done_nums']}</h3>
                <p>今天总商品成交量</p>
            </div>
            <div class="icon">
                <i class="fa fa-product-hunt"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>￥{$data['pay_total']}</h3>
                <p>今天入账金额</p>
            </div>
            <div class="icon">
                <i class="fa fa-cny"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                {if $data['visit'] == 0}
                <h3>0</h3>
                {else}
                <h3>{:round($data['order_count']/$data['visit'],2)*100}%</h3>
                {/if}
                <p>今天点击转换率</p>
            </div>
            <div class="icon">
                <i class="fa fa-history"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                {if $data['order_count'] == 0}
                <h3>0</h3>
                {else}
                <h3>{:round($data['pay_done']/$data['order_count'],2)*100}%</h3>
                {/if}
                <p>今天入账转化率</p>
            </div>
            <div class="icon">
                <i class="fa fa-grav"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                {if $data['order_count'] == 0}
                <h3>0</h3>
                {else}
                <h3>￥{:round($data['pay_total']/$data['visit'],2)}</h3>
                {/if}
                <p>今天点击价格</p>
            </div>
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>

<div class="row"   style="text-align: center">
    <div style="border-bottom: 2px solid #000000;"></div>
    <h3 style="margin-bottom: 17px;">《昨天数据》</h3>
</div>
<!--昨天的数据-->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{$yesterdayData['visit']}</h3>
                <p>昨天总访问量</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{$yesterdayData['order_count']}</h3>
                <p>昨天总订单量</p>
            </div>
            <div class="icon">
                <i class="fa fa-area-chart"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{$yesterdayData['pay_done']}</h3>
                <p>昨天总支付量</p>
            </div>
            <div class="icon">
                <i class="fa fa-camera"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{$yesterdayData['pay_done_nums']}</h3>
                <p>昨天总商品成交量</p>
            </div>
            <div class="icon">
                <i class="fa fa-product-hunt"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>￥{$yesterdayData['pay_total']}</h3>
                <p>昨天入账金额</p>
            </div>
            <div class="icon">
                <i class="fa fa-cny"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                {if $yesterdayData['visit'] == 0}
                <h3>0</h3>
                {else}
                <h3>{:round($yesterdayData['order_count']/$yesterdayData['visit'],2)*100}%</h3>
                {/if}
                <p>昨天点击转换率</p>
            </div>
            <div class="icon">
                <i class="fa fa-history"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                {if $yesterdayData['order_count'] == 0}
                <h3>0</h3>
                {else}
                <h3>{:round($yesterdayData['pay_done']/$yesterdayData['order_count'],2)*100}%</h3>
                {/if}
                <p>昨天入账转化率</p>
            </div>
            <div class="icon">
                <i class="fa fa-grav"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                {if $yesterdayData['order_count'] == 0}
                <h3>0</h3>
                {else}
                <h3>￥{:round($yesterdayData['pay_total']/$yesterdayData['visit'],2)}</h3>
                {/if}
                <p>昨天单价点击</p>
            </div>
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>

<div class="row"  style="text-align: center">
    <div style="border-bottom: 2px solid #000000;"></div>
    <h3 style="margin-bottom: 17px">《历史数据》</h3>
</div>
<!--历史的数据-->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{$historyData['visit']}</h3>
                <p>历史总访问量</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{$historyData['order_count']}</h3>
                <p>历史总订单量</p>
            </div>
            <div class="icon">
                <i class="fa fa-area-chart"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{$historyData['pay_done']}</h3>
                <p>历史总支付量</p>
            </div>
            <div class="icon">
                <i class="fa fa-camera"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{$historyData['pay_done_nums']}</h3>
                <p>历史总商品成交量</p>
            </div>
            <div class="icon">
                <i class="fa fa-product-hunt"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>￥{$historyData['pay_total']}</h3>
                <p>历史入账金额</p>
            </div>
            <div class="icon">
                <i class="fa fa-cny"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                {if $historyData['visit'] == 0}
                <h3>0</h3>
                {else}
                <h3>{:round($historyData['order_count']/$historyData['visit'],2)*100}%</h3>
                {/if}
                <p>历史总点击转换率</p>
            </div>
            <div class="icon">
                <i class="fa fa-history"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                {if $historyData['order_count'] == 0}
                <h3>0</h3>
                {else}
                <h3>{:round($historyData['pay_done']/$historyData['order_count'],2)*100}%</h3>
                {/if}
                <p>历史总入账转化率</p>
            </div>
            <div class="icon">
                <i class="fa fa-grav"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                {if $historyData['order_count'] == 0}
                <h3>0</h3>
                {else}
                <h3>￥{:round($historyData['pay_total']/$historyData['visit'],2)}</h3>
                {/if}
                <p>历史单价点击</p>
            </div>
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
        </div>
    </div>
</div>
