<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta name="renderer" content="webkit" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" /> 
  <title>恭喜您</title> 
  <link href="https://static-other.artgeek.com.cn/Shop/ShareOver/css/style_new2.css" rel="stylesheet" type="text/css" /> 
  <link href="https://static-other.artgeek.com.cn/Shop/Shoes_4/css/layer.css" rel="stylesheet" type="text/css" /> 
  <script src="https://static-other.artgeek.com.cn/Shop/Shoes_4/js/jquery.min.js"></script> 
 </head> 
 <body> 
  <div id="hideall"> 
   <!--滚动下单提示--> 
   <div class="notice" id="leftmenu" style="display:none;"> 
    <ul id="gd"></ul> 
   </div> 
   <div class="wrap entry-container"> 
    <div class="inner" style="padding:0px;"> 
     <div class="form-description"> 
      <div id="content_div"> 
       <img style="width:100%;  " src="https://static-other.artgeek.com.cn/Shop/ShareOver/shareover1.png" /> 
       <div id="marketingModules"> 

        <h2 class="page-title" style="padding: 10px 8px 4px;"> <p style="text-indent: 40px;font-weight:bold;color:#000;">恭喜您,成功参与礼包领取活动,24小时发货,请您填写正确的信息.</p> </h2> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="imb" id="jdd">
     填写领取信息
    </div> 
    <div class="good-services clear" style="height:auto;"> 
     <div class="item"> 
      <span class="span-icon"> 
       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="16px" viewbox="0 0 26 26" version="1.1"> 
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> 
         <g transform="translate(-62.000000, -1116.000000)" fill-rule="nonzero" stroke="#cf2a4f" stroke-width="2"> 
          <g transform="translate(0.000000, 1084.000000)"> 
           <g transform="translate(62.000000, 26.000000)"> 
            <g transform="translate(0.000000, 6.000000)"> 
             <rect x="1" y="1" width="24" height="24" rx="12" /> 
             <g transform="translate(9.000000, 6.500000)" stroke-linecap="round"> 
              <path d="M0,0.5 L4,6" /> 
              <path d="M5,0.5 L9,6" transform="translate(6.500000, 3.000000) scale(-1, 1) translate(-6.500000, -3.000000) " /> 
              <path d="M0,7 L8,7" transform="translate(4.000000, 7.000000) scale(-1, 1) translate(-4.000000, -7.000000) " /> 
              <path d="M0,11 L8,11" transform="translate(4.000000, 11.000000) scale(-1, 1) translate(-4.000000, -11.000000) " /> 
              <path d="M4,14 L4,6" transform="translate(4.000000, 9.500000) scale(-1, 1) translate(-4.000000, -9.500000) " /> 
             </g> 
            </g> 
           </g> 
          </g> 
         </g> 
        </g> 
       </svg> </span>无需费用 
     </div> 
     <div class="item"> 
      <span class="span-icon"> 
       <svg t="1564731252515" class="icon" viewbox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2713" width="16" height="16"> 
        <path d="M907.6 173.7L844.2 203c-9.9-10.6-20.3-20.8-31.2-30.3C724 94.5 610.1 56.4 493.3 65.2c-117.2 8.8-224 63.5-300.8 154.1C115.9 309.8 78.4 425.4 87 544.8c8.7 119.3 62.5 228.1 151.5 306.3 82.9 72.8 185.2 108.4 286.9 108.4 123.6 0.1 246.6-52.5 333.5-155 19.3-22.8 16.9-57.3-5.5-77-22.4-19.7-56.2-17.2-75.6 5.6C658 874.6 447.4 890.3 308.5 768.4c-67.3-59.2-108-141.5-114.5-231.6-6.5-90.3 21.8-177.7 79.7-246.1 58.1-68.5 138.9-109.9 227.5-116.6 86.6-6.4 170.7 21.2 237.4 77.8l-53.8 24.9c-15.4 7.1-17.4 28.5-3.7 38.5l189.8 138.4c17.8 13 42.7 1.4 44.8-20.8l22.7-236.7c1.7-17.1-15.5-29.6-30.8-22.5zM498.9 287.2c-22 0-39.9 18.2-39.9 40.6V580c0 11.6 9.5 23.2 28.3 34.3 3.3 4.4 9.4 7.8 14.4 10.6l148.2 91.4c6.1 3.6 12.6 5.4 19.1 5.4 3.2 0 6.5-0.5 9.6-1.4 9.1-2.8 17.1-9.5 22.4-18.9 10.5-18.6 2.4-43.5-17.9-55.5l-144.4-85.1v-233c0.1-22.4-17.8-40.6-39.8-40.6z" p-id="2714" fill="#cf2a4f" />
       </svg> </span>限时领取 
     </div> 
     <div class="item"> 
      <span class="span-icon"> 
       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="16px" viewbox="0 0 26 26" version="1.1"> 
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> 
         <g transform="translate(-306.000000, -1116.000000)" fill-rule="nonzero" stroke="#cf2a4f" stroke-width="2"> 
          <g transform="translate(0.000000, 1084.000000)"> 
           <g transform="translate(306.000000, 32.000000)"> 
            <circle cx="13" cy="13" r="12" /> 
            <g transform="translate(6.500000, 6.500000)" stroke-linecap="round"> 
             <path d="M0.5,4 L0.5,12" /> 
             <path d="M3.5,1 L3.5,12" /> 
             <path d="M9.5,3 L9.5,12" /> 
             <path d="M12.5,3 L12.5,8" /> 
             <path d="M6.5,4 L6.5,12" /> 
             <path d="M6.5,12 L0.5,12" /> 
             <path d="M6.5,4 L0.5,4" /> 
             <path d="M12.5,3 L9.5,3" /> 
             <path d="M12.5,8 L10,8" /> 
             <path d="M6.5,8 L0.5,8" /> 
            </g> 
           </g> 
          </g> 
         </g> 
        </g> 
       </svg> </span>全国包邮 
     </div> 
    </div> 

    <div id="join_div"> 
     <form class="center with-shadow" id="form1" method="post"> 
      <div class="form-content"> 
       <div class="form-group"> 
        <div class="form-group mt20"> 
         <label class="field-title">收货人姓名</label> 
         <div class="field-content"> 
          <input name="name" id="name" type="text" />
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="field-title">联系电话</label> 
         <div class="field-content"> 
          <input name="mobile" id="mobile" type="tel" maxlength="11" />
         </div> 
        </div> 
        <div class="form-group " data-role="address"> 
         <label class="field-title">收货地址</label> 
         <div class="field-content address"> 
          <div> 
           <select id="province" name="province" data-role="province"> <option value="">- 省/自治区/直辖市 -</option> </select> 
           <select id="city" name="city" data-role="city"> <option value="">- 市 -</option> </select> 
           <select id="area" name="district" data-role="district" required=""> <option value="">- 区/县 -</option> </select> 
          </div> 
          <div class="mt10"> 
           <textarea name="detailaddress" id="detailaddress" rows="3" placeholder="为确保您收到货，地址请尽可能详细到街道以及门牌号"></textarea> 
          </div>
          <label class="field-title">礼品备注</label> 
          <div class="mt10"> 
           <textarea name="tips" id="tips" rows="3" placeholder="请填写礼品颜色,款式,尺码等商品必要的信息"></textarea> 
          </div>  
         </div> 
        </div> 
       </div> 
      </div> 
      <input type="hidden" name="aid" id="aid" value="{$data.aid}" /> 
      <input type="hidden" name="tid" id="tid" value="{$data.tid}" /> 
      <input type="hidden" name="pid" id="pid" value="{$data.pid}" /> 
      <input type="hidden" name="gid" id="gid" value="{$data.gid}" /> 
      <input type="hidden" name="production_name" id="production_name" value="{$data.production_name}" /> 
      <input type="hidden" name="share_code" id="share_code" value="{$data.share_code}" />
      <div class=""> 
       <div style="text-align:center;"> 
        <input id="subbtn" type="button" class="btn btn-primary" style="padding: 13px 85px;text-align:center;font-size:14px;" onclick="checkInput();" value="填写好了  确认提交" /> 
       </div> 
      </div> 
     </form>
    </div> 
   </div>  
  </div>  
  <br />
  <br />
  <br />  
  <!--hideall  ending--> 
  <script type="text/javascript" charset="utf-8" src="https://static-other.artgeek.com.cn/Shop/Shoes_4/js/areaselector-nohaiwuai666.js"></script> 
  <script src="https://static-other.artgeek.com.cn/Shop/Shoes_4/js/layer.js"></script> 
  <script language="javascript">
        //localStorage.clear();
        var countdown = localStorage.getItem("countdown2");
        var countdown_tsp = localStorage.getItem("countdown_tsp2");
        if(null == countdown || '' == countdown || '' == countdown_tsp || null == countdown_tsp) {
            countdown_tsp = parseInt(new Date().getTime()/1000)+1677;
            countdown = 1677;
            localStorage.setItem("countdown2",countdown);
            localStorage.setItem("countdown_tsp2",countdown_tsp);
        }else{
            var current_countdown = parseInt(new Date().getTime()/1000);
            if(current_countdown < countdown_tsp){
                countdown = countdown_tsp - current_countdown;
            }else{
                countdown_tsp = parseInt(new Date().getTime()/1000)+1677;
                countdown = 1677;
                localStorage.setItem("countdown2",countdown);
                localStorage.setItem("countdown_tsp2",countdown_tsp);
            }
        }
        function timeaa (elem,intDiff){
            window.setInterval(function(){
            var day=0,hour=0,minute=0,second=0,times=intDiff;
            if(intDiff > 0){
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            
            hour = hour<10?'0'+hour:hour;
            minute = minute<10?'0'+minute:minute;
            second = second<10?'0'+second:second;
                
            if(day==0 && hour=='00' && minute=='00' && second=='00'){
                $(elem).html('活动已结束');
            }else{
                if(day==0){
                    $(elem).find('.cbjzDay').remove(); 
                }else{
                    $(elem).find('.cbjzDay strong').html(day); 
                }
                $(elem).find('.cbjzHour strong').html(hour); 
                $(elem).find('.cbjzMinute strong').html(minute); 
                $(elem).find('.cbjzSecond strong').html(second); 
            }
            intDiff--;
        }, 1000);
        }       
        timeaa('#cbjz-timer', countdown);
</script> 
  <!-- 产品属性 --> 
  <script type="text/html" id="item_color">
    <li>
        <label>
            <div class="pwrap" name='p_border' onclick="pattern_price(this,'79.90')">
                <div class="img-wrap"><img src="{url}"></div>
                <h3 style="text-align:center;font-size:14px;"><input type="radio" name="pattern" value="{s_color}" class="a-radio" ><span class="b-radio"></span>{color}</h3>
            </div>
        </label>
    </li>
</script> 
  <script type="text/html" id="item_sex">
    <label class="inpbox" onclick="check_sex(this)"><input type="radio" value="{sex_val}" name="sex">{sex}</label>
</script> 
  <script type="text/html" id="item_ma">
    <label class="inpbox" onclick="check_ma(this)"><input type="radio" value="{ma_val}" name="attr">{ma}</label>
</script> 
  <script type="text/javascript">
    var url = "https://api.myadminsys.cn/", pid = 1, uid = 1;
    var href = window.location.href;
    if(href.indexOf("pid") > -1){
        pid = GetPar('pid');
        uid = GetPar('uid');
        stat_count(pid, uid);
    };
    var color_img = ["https://static-other.artgeek.com.cn/Shop/Shoes_4/images/1.jpg","https://static-other.artgeek.com.cn/Shop/Shoes_4/images/2.jpg","https://static-other.artgeek.com.cn/Shop/Shoes_4/images/3.jpg","https://static-other.artgeek.com.cn/Shop/Shoes_4/images/4.jpg"];
    var htmltpl_color = $("#item_color").html(), htmltpl_sex = $("#item_sex").html(), htmltpl_ma = $("#item_ma").html();
    $.ajax({
        url:url+'v1/product/get_info',
        data:{
            id: pid
        },
        type:'post',
        dataType: 'json',
        success: function(res){
            var info = res.data.shuxing;
            var htm1_color = "", html_sex = "", html_ma = "";
            for(var i in info.color){
                htm1_color = htmltpl_color.replace("{url}",color_img[i]);
                htm1_color = htm1_color.replace("{s_color}",info.color[i]);
                htm1_color = htm1_color.replace("{color}",info.color[i]);
                $("#pattern_color").append(htm1_color);
            }
            for(var k in info.style){
                html_sex = htmltpl_sex.replace("{sex_val}",info.style[k]);
                html_sex = html_sex.replace("{sex}",info.style[k]);
                $("#sex_color").append(html_sex);
            }
            for(var m in info.size){
                html_ma = htmltpl_ma.replace("{ma_val}",info.size[m]);
                html_ma = html_ma.replace("{ma}",info.size[m]);
                $("#attr_color").append(html_ma);
            }
        },
        error : function(XMLHttpRequest,status){
            layer.msg('查询出错,请稍后再试',{icon:7,time:1500});
            console.log(status);
        }
    });
    function stat_count(pid, uid) {
        $.get(url + "v1/view/count?product_id="+pid+"&uid="+uid, function(ret){
            console.log(ret)
        },'json');
    }
    function GetPar(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r != null) return decodeURIComponent(r[2]);
        return null;
    }
</script> 
  <script type="text/javascript">

    var payoid = ""; 
    function checkInput(){
        $('#subbtn').attr("disabled","disabled");
        
        var aid = $('#aid').val();
        var check_code = $('#check_code').val();
        var gid = $('#gid').val();
        var pay_id = $('#pay_id').val();
        var pay_type = $('#pay_type').val();
        var tips = $('#tips').val();
    
        if ($('#name').val()=='') {
            return shom_msg('收货人姓名不能为空');
        }
        
        var rname =  $.trim($('#name').val());
        var reg=/^[\u4e00-\u9fa5]+$/;
         if (!reg.test(rname)){
            return shom_msg('姓名格式不正确，必须为中文');
        }
        if(rname.length > 12){
            return shom_msg('姓名不能大于12个字符');
        }
        
        if ($('#mobile').val()=='') {
            return shom_msg('手机号码不能为空');
        }   
            
        if(!checkMobile($('#mobile').val())){
            return shom_msg('手机号码格式有误，请重填');
        }
        
        var province = $("select[name='province'] option:selected").text();
        var city = $("select[name='city'] option:selected").text();
        var district = $("select[name='district'] option:selected").text();
        
        if(province=='- 省/自治区/直辖市 -' || city=='- 市 -' || province=='' || city=='' || district=='- 区/县 -' || district==''){
            return shom_msg('请填写正确的省市区');
        }
            
        if ($('#detailaddress').val()=='') {
            return shom_msg('详细街道地址不能为空');
        }   

        if ($('#detailaddress').val().length < 4) {
            return shom_msg('街道地址少于4个字符,请填写详细');
        }

        if(payoid != ""){
            $('#subbtn').removeAttr("disabled");
            if ("{$data.pay_type}" == 0) {
                window.location.href = "{$data.api_domain}"+'/index.php/index/payorder/wechatgrant?aid='+"{$data.aid}"+'&oid='+result.order_id+'&gid='+"{$data.gid}"+'&tid='+"{$data.tid}"+'&check_code='+"{$data.check_code}"+'&tp='+"{$data.tp}"+'&sn='+result.sn;
            } else if ("{$data.pay_type}" == 1) {
                window.location.href = "{$data.api_domain}"+'/index.php/index/payorder/xpayGrant?aid='+"{$data.aid}"+'&oid='+result.order_id+'&gid='+"{$data.gid}"+'&tid='+"{$data.tid}"+'&check_code='+"{$data.check_code}"+'&tp='+"{$data.tp}"+'&sn='+result.sn;
            } else {
                window.location.href = "{$data.api_domain}"+'/index.php/index/payorder/rypayOrder?aid='+"{$data.aid}"+'&oid='+result.order_id+'&gid='+"{$data.gid}"+'&tid='+"{$data.tid}"+'&check_code='+"{$data.check_code}"+'&tp='+"{$data.tp}"+'&sn='+result.sn;
            }
            return false;
        }
        
         var jz = layer.open({
            type: 2
            ,content: '提交中',
            shadeClose: false
          });
        var username = $('#name').val();
        var mobile = $('#mobile').val();

        var detailaddress = $('#detailaddress').val();
        var production_name = $('#production_name').val();
        var tid = $('#tid').val();
        var pid = $('#pid').val();

        var address;
        if(province === city){
            address = province + district + $('#detailaddress').val();
        }else{
            address = province + city + district + $('#detailaddress').val();
        }

        var data = {
            "aid": aid,/*推广员ID*/
            "gid": gid,/*商品ID*/
            "tid": tid,/*团队ID*/
            "pid": pid,/*上级ID*/
            "name": username,/*收货人*/
            "mobile": mobile,
            "province": province,
            "city": city,
            "district": district,
            "production_name": production_name,
            "detailaddress": detailaddress,
            "address": address,
            "share_code":check_code,
            "tips":tips
        };

        $.ajax({
            type : "POST",  //提交方式
            url : "{:url('index.php/index/order/shareSubmit')}",
            data : data,
            dataType : "json",
            success : function(result) {
                if (result.status === 0){
                    $('#subbtn').removeAttr("disabled");
                    layer.open({content: '提交成功，可以跳转到商城，是否要跳转',btn: '我知道了'});
                    layer.confirm('提交成功，可以跳转到商城，是否要跳转？', {icon: 3, title:'提示'}, function(index){
                     //do something
                     window.location.href = "https://www.baidu.com"
                     // layer.close(index);
                    });
                }else{
                    layer.close(jz);
                    $('#subbtn').removeAttr("disabled");
                    layer.open({content: result.msg,btn: '我知道了'});
                }
            },error:function(){
                layer.close(jz);
                $('#subbtn').removeAttr("disabled");
                layer.open({content: '您的网络不稳定，请关闭页面后重试！',btn: '我知道了'});
            }
        });
    }
    function postRequest(url, res) {
        var temp = document.createElement("form");
        temp.action = url;
        temp.method = "post";
        temp.style.display = "none";
        for(var key in res) {
            var opt = document.createElement("textarea");
            opt.name = key;
            opt.value = res[key];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
    
    //验证必须是正确的手机号
    function checkMobile(val){
        var reg =/^1[3456789]\d{9}$/;
        if(reg.test(val)){
            return true;
        }else{
            return false;
        }
    }
    
    //提示信息
    function shom_msg(msg){
        $('#subbtn').removeAttr("disabled");
        layer.open({content: msg,skin: 'msg',time: 2 });
        return false;
    }
</script> 
  <script>

        var aa = document.getElementsByName("todo");
        for(var i=0;i<aa.length;i++){
                aa[i].onclick=function(){
                $("html, body").animate({scrollTop: $("#jdd").offset().top + "px"}, 500);
                return false;//不要这句会有点卡顿
            }
        }
        
       
        function sphone(){
        var mobile = $('#ssphone').val();
        if(!checkMobile(mobile)){
            layer.open({content: "查询的手机号码有误，请重填",skin: 'msg',time: 2 });
        }else{

        }
    }
    
        $("#province").change(function (){
        var province = $("select[name='province'] option:selected").text();
        var bubaoyou_areas = "新疆维吾尔自治区=西藏自治区";
        if(bubaoyou_areas.indexOf(province) >= 0){
            layer.open({content: '您的收货地区为偏远地区，需要自理邮费10元',skin: 'msg',time: 3 });
        }
    });
        
    
    var userList = ["胡 * * 河南省 郑州 * * ","王 * * 吉林省 松原 * * ","李 * * 广东省 东莞 * * ","张 * * 重庆市 万州 * * ","王 * * 河南省 南阳 * * ","刘 * * 湖北省 武汉 * * ","龙 * * 广东省 中山 * * ","宋 * * 贵州省 铜仁 * * ","鄢 * * 湖北省 武汉 * * ","赵 * * 江苏省 徐州 * * ",
                    "吕 * * 河南省 郑州 * * ","李 * * 河北省 石家 * * ","池 * * 上海市 浦东 * * ","杨 * * 广东省 汕头 * * ","张 * * 河北省 石家 * * ","王 * * 贵州省 贵阳 * * ","陈 * * 黑龙江省 哈 * * ","张 * * 天津市 静海 * * ","张 * * 河北省 石家 * * ","魏 * * 黑龙江省 哈 * * ","谢 * * 河北省 石家 * * ","王 * * 河北省 衡水 * * ","刘 * * 北京市 顺义 * * ","孙 * * 河北省 石家 * * ",
                    "李 * * 河北省 衡水 * * ","李 * * 上海市 黄浦 * * ","孙 * * 河北省 石家 * * ","谢 * * 河北省 石家 * * ","赵 * * 河南省 郑州 * * ","王 * * 河南省 开封 * * "];
    var html = "";
    $.each(userList,function(i,item){
        var myDate = new Date();    
        var h=myDate.getHours();
        var m=myDate.getMinutes();
        var s=myDate.getSeconds();
        if(m > 5){m = m - Math.floor(Math.random()*4);}
　　  if(s > 15){s = s - Math.floor(Math.random()*9);}
        if(s < 10){s = '0' + s;}                
        if(m < 10){m = '0' + m;}
        if(h == 0){h = 12;}
        html += '<li>'+userList[Math.floor(Math.random()*30)]+' '+h+':'+m+':'+s+' 领取成功 </li>';
　　});   
    $("#gd").append(html);
    $("#leftmenu").show();
    
    function noticeUp(obj,top,time) {
        $(obj).animate({
            marginTop: top
        }, time, function () {
            $(this).css({marginTop:"0"}).find(":first").appendTo(this);
        })
    }
    $(function () {
        // 调用 公告滚动函数
        setInterval("noticeUp('.notice ul','-28px',500)", 3000);
    });

    $(document).ready(function () {
        var menuYloc = $("#leftmenu").offset().top; //此ID为随着屏幕滚动div的ID
        $(window).scroll(function () {
            var offsetTop = menuYloc + $(window).scrollTop() + "px";
            $("#leftmenu").animate({ top: offsetTop }, { duration: 600, queue: false }); //此ID为随着屏幕滚动div的ID
        
        });
    });
</script> 
  <div style="display:none"> 
   <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278835043&web_id=1278835043"></script> {$data.tongji} 
  </div>  
  <script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {WeixinJSBridge.call('hideOptionMenu');});
    var hiddenProperty = "hidden" in document ? "hidden": "webkitHidden" in document ? "webkitHidden": "mozHidden" in document ? "mozHidden": null;
    var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, "visibilitychange");
    var onVisibilityChange = function() {
        if (!document[hiddenProperty]) {
            //重新展示了页面
            //直接刷新即可.
            // alert("重新展示了.");
            window.location.reload();
        }
    };
    document.addEventListener(visibilityChangeEvent, onVisibilityChange);
</script> 
 </body>
</html>