.DS_Store
.idea
runtime
public/uploads
.env
yinxiao.sql
vendor
admin/command/Min/node.log
exam/*
application/admin/validate/xunsearch/
public/assets/addons/loginbg/
application/index/view/index