<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>域名检测系统</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/assets/js/jquery-3.5.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>落地<span style="color: #29b294;">服务器</span>域名检测中....</h5>
                    </div>
                    <div class="ibox-content">
                        <p id="luodi_html">

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>入口域名<span style="color: #29b294;">服务器</span>域名检测中....</h5>
                    </div>
                    <div class="ibox-content">
                        <p id="ground_html">

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>快站域名<span style="color: #29b294;">服务器</span>域名检测中....</h5>
                    </div>
                    <div class="ibox-content">
                        <p id="kzdomain_html">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->

</body>
<!--落地域名检测-->
<script type="text/javascript">
    // //落地检测
    (function (){
    var nowid = 0;
    var str_luodi = '';
    time = setInterval(function () {  //开启5秒检测一次
        $.ajax({
            url: "{:url('index.php/index/Autocheckdomain/checkDomain')}",
            type: 'POST',
            dataType: 'json',
            data: {'check_id': nowid},
            success: function (data) {
                if (data.code == 0) {
                    nowid = nowid + 1;
                    str_luodi += '<span style="color:#1bb394;">' + data.msg + '----' + data.domain + '</span><br>';
                    $("#luodi_html").html(str_luodi);
                    if (nowid - data.max_id == 0) {
                        str_luodi = '';
                        nowid = 0;
                    }
                    console.log(nowid);
                    console.log(data.max_id);
                } else {
                    setTimeout(function () {
                        window.location.reload();
                    }, 500)
                }
            }
        })
    }, 10000)
  } ())
</script>
<!--入口域名检测-->
<script type="text/javascript">
    // 入口域名检测
    (function (){
        var nowid = 0;
        var str_ground = '';
        time = setInterval(function () {  //开启5秒检测一次
            $.ajax({
                url: "{:url('index.php/index/Autocheckdomain/checkGroundDomain')}",
                type: 'POST',
                dataType: 'json',
                data: {'check_id': nowid},
                success: function (data) {
                    if (data.code == 0) {
                        nowid = nowid + 1;
                        str_ground += '<span style="color:#1bb394;">' + data.msg + '----' + data.domain + '</span><br>';
                        $("#ground_html").html(str_ground);
                        if (nowid - data.max_id == 0) {
                            str_ground = '';
                            nowid = 0;
                        }
                    } else {
                        setTimeout(function () {
                            window.location.reload();
                        }, 500)
                    }
                }
            })
        }, 7000)
    } ())
</script>
<!--快站域名检测-->
<script type="text/javascript">
    //快站域名检测
    (function (){
        var nowid = 0;
        var str_kz = '';
        time = setInterval(function () {  //开启5秒检测一次
            $.ajax({
                url: "{:url('index.php/index/Autocheckdomain/checkKzDomain')}",
                type: 'POST',
                dataType: 'json',
                data: {'check_id': nowid},
                success: function (data) {
                    if (data.code == 0) {
                        nowid = nowid + 1;
                        str_kz += '<span style="color:#1bb394;">' + data.msg + '----' + data.domain + '</span><br>';
                        $("#kzdomain_html").html(str_kz);
                        if (nowid - data.max_id == 0) {
                            str_kz = '';
                            nowid = 0;
                        }
                    } else {
                        setTimeout(function () {
                            window.location.reload();
                        }, 500)
                    }
                }
            })
        }, 5000)
    } ())
</script>
</html>
