<div class="col-sm-12">
    <div class="table-responsive col-lg-8 col-md-8 col-xs-12 col-sm-12 table-bordered text-center col-lg-offset-2 col-md-offset-2">
        <table class="table table-striped table-bordered table-hover table-nowrap">
            <tr>
                <th class="text-center">文案编号</th>
                <th class="text-center">文案名称</th>
                <th class="text-center">模板名称</th>
                <th class="text-center">预览</th>
            </tr>
            {foreach name='list' item='vo'}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.module_name}</td>
                <td><a class="btn btn-sm btn-success" href="/index.php/index/index/reviewHtml/ids/{$vo.id}" target="_blank">点击预览</a></td>
            </tr>
            {/foreach}
        </table>
    </div>
</div>
