<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>订单确认支付</title>
    <script type="text/javascript">
        //调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
            {$jsApiPrepay},
            function(res) {
                if(res.err_msg === "get_brand_wcpay_request:ok" ) {
                    // 使用以上方式判断前端返回,微信团队郑重提示：
                    //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    window.location.href = "{:url('index.php/index/order/orderquery')}"+'?order_sn='+"{$orderInfo['sn']}";//跳转到订单状态页面，查询订单页面
                } else {
                    alert("支付失败"+res.err_code+res.err_desc+res.err_msg);
                }
            }
        );
        }

        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
    </script>
    <style media="screen">
         table,th,tr,td{
             border:1px solid #111111;
             border-collapse: collapse;
             text-wrap: normal;
         }
    </style>
</head>
<body>
<div>
    <table width="100%">
        <tr>
            <th width="25%">订单编号：</th>
            <td>{$orderInfo.sn}</td>
        </tr>
        <tr>
            <th>订单金额：</th>
            <td>{$orderInfo.price}</td>
        </tr>
        <tr>
            <th colpan="2">收货地址：</th>
            <td colpan="2">{$orderInfo.address}</td>
        </tr>
        <tr>
            <th>收货人：</th>
            <td>{$orderInfo.name}</td>
        </tr>
        <tr>
            <th>联系电话：</th>
            <td>{$orderInfo.phone}</td>
        </tr>
    </table>
</div>
<div align="center">
    <button style="width:210px; height:50px; border-radius: 15px;background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay()" >立即支付</button>
</div>
</body>
</html>