<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" onclick="refresh()" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
<!--                        <a class="btn btn-success btn-change btn-start" data-params="action=start" data-url="production/url/setProductionData" href="javascript:;"><i class="fa fa-play"></i> 生成商品列表</a>-->
                    </div>
                </div>
            </div>
            <div class="row">
                {foreach name="$result['rows']" item="vo" key="k" }
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail example">
                        <img id="qrcodeimg-{$vo['id']}" src="{:url('production/url/build?text=')}{$vo['url']}" style="width:100%;" alt="">
                        <div class="caption">
                            <h4>{$vo.production_name}</h4>
                            <p class="text-muted">访问次数:{$vo.count}</p>
                            <button class="btn btn-xl btn-success" onclick='regetqr("{$vo['id']}")'>重新取码</button>
                            {if $vo.is_forbidden == 0}
                            <button class="btn btn-xl btn-danger" onclick='forbidden("{$vo['id']}")'>禁止访问</button>
                            {else}
                            <button class="btn btn-xl btn-info" onclick='open("{$vo['id']}")'>开启访问</button>
                            {/if}
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    function regetqr(id){
        $.ajax({
            type : "POST",
            url : "{:url('production/url/url')}",
            data : {'ids':id},
            dataType : "json",
            success : function(result) {
                if (result.is_use) {
                    window.location.reload();
                }else{
                    alert('入口域名用完了');
                }
            },error:function(){
                alert('您的网络不稳定，请关闭页面后重试！');
            }
        });
    }

    function forbidden(id){
        $.ajax({
            type : "POST",
            url : "{:url('production/url/forbidden')}",
            data : {'ids':id},
            dataType : "json",
            success : function(result) {
                if (result) {
                    window.location.reload();
                }else{
                    alert('入口域名用完了');
                }
            },error:function(){
                alert('您的网络不稳定，请关闭页面后重试！');
            }
        });
    }

    function open(id){
        $.ajax({
            type : "POST",
            url : "{:url('production/url/open')}",
            data : {'ids':id},
            dataType : "json",
            success : function(result) {
                if (result) {
                    window.location.reload();
                }else{
                    alert('入口域名用完了');
                }
            },error:function(){
                alert('您的网络不稳定，请关闭页面后重试！');
            }
        });
    }

    function refresh() {
        window.location.reload();
    }
</script>
