<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a class="btn btn-success btn-change btn-start" data-params="action=start" data-url="production/url/setProductionData" href="javascript:;"><i class="fa fa-play"></i> 生成商品列表</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {foreach name="$result['rows']" item="vo" key="k" }
                <form action="" method="post">
                    <input type="hidden" name="text" value="{$vo['url']}">
                </form>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail example">
                        <img id="qrcodeimg{$vo['id']}" src='' style="width:100%;" alt="">
                        <div class="caption">
                            <h4>{$vo.production_name}</h4>
                            <p class="text-muted">访问次数:{$vo.count}</p>
                            <p class="text-muted">操作时间:</p>
                            <p>
                                <span class="pull-right" style="margin-top:10px;"></span>
                            </p>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/clipboard.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
{foreach name="$result['rows']" item="vo" key="k"}
    <script type="text/javascript">
        $(function () {
            $("form").submit(function () {
                $("#qrcodeimg"+"{$vo['id']}").prop("src", "{:url('production/url/build',[],false)}?" + $(this).serialize());
                $("#qrcodeurl").text();
                return false;
            });
            $("form").trigger('submit');
        });
    </script>
{/foreach}
