<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">产品模板选择:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::select('row[production_id]',$selectData,$row.production_id,['data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">说明 :</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-info" class="form-control" disabled="disabled" type="text" value="请根据商品模板库里面的相关信息，修改以下数据为自己独有的数值⬇️⬇️⬇️">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sales_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sales_price" data-rule="required" class="form-control" step="0.01" name="row[sales_price]" type="number" value="{$row.sales_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">销售价说明 :</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-info1" class="form-control" disabled="disabled" type="text" value="表示需要展示在页面里面的价格，如果不写，则使用方案默认值⬆️⬆️⬆️️">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discount" data-rule="required" class="form-control" step="0.01" name="row[discount]" type="number" value="{$row.discount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">折扣价说明 :</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-info2" class="form-control" disabled="disabled" type="text" value="表示优惠券价格，如果不写，则使用方案默认值⬆️⬆️⬆️️">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('True_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-true_price" data-rule="required" class="form-control" step="0.01" name="row[true_price]" type="number" value="{$row.true_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">真实价说明 :</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-info3" class="form-control" disabled="disabled" type="text" value="表示本产品真实卖价，如果不写，则使用方案默认值⬆️⬆️⬆️">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone1" data-rule="required" class="form-control" name="row[phone1]" type="text" value="{$row.phone1|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone2" data-rule="required" class="form-control" name="row[phone2]" type="text" value="{$row.phone2|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Special_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-special_code" data-rule="required" class="form-control" name="row[special_code]" type="text" value="{$row.special_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tongji')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[tongji]" id="c-tongji"  class="form-control" cols="30" rows="10">{$row.tongji|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
