<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sales_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sales_price" data-rule="required" class="form-control" step="0.01" name="row[sales_price]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discount" data-rule="required" class="form-control" step="0.01" name="row[discount]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('True_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-true_price" data-rule="required" class="form-control" step="0.01" name="row[true_price]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone1" data-rule="required" class="form-control" name="row[phone1]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone2" data-rule="required" class="form-control" name="row[phone2]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qr_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-qr_image" data-rule="required" class="form-control" size="50" name="row[qr_image]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-qr_image" class="btn btn-danger plupload" data-input-id="c-qr_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-qr_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-qr_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-qr_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Module_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-module_name" data-rule="required" class="form-control" name="row[module_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Modulefile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-modulefile" data-rule="required" class="form-control" size="50" name="row[modulefile]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-modulefile" class="btn btn-danger plupload" data-input-id="c-modulefile" data-multiple="false" data-preview-id="p-modulefile"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-modulefile"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Special_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-special_code" data-rule="required" class="form-control" name="row[special_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tongji')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tongji" data-rule="required" class="form-control" name="row[tongji]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['0'=>'正常', '1'=>'停用'],0)}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
