<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_name" class="form-control" name="row[pay_name]" type="text" value=""  placeholder="用于注释当前支付商户号的信息">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Encodingaeskey')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-encodingaeskey" class="form-control" name="row[encodingaeskey]" type="text" value=""  placeholder="公众号消息加密">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Token')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-token" class="form-control" name="row[token]" type="text" value=""  placeholder="公众号服务器token">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('App_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-app_id" data-rule="required" class="form-control" name="row[app_id]" type="text" value="" placeholder="微信支付开发者ID">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('App_secret')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-app_secret" data-rule="required" class="form-control" name="row[app_secret]" type="text" value="" placeholder="微信支付开发者密钥">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mch_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mch_id" data-rule="required" class="form-control" name="row[mch_id]" type="text" value="" placeholder="微信支付商户号">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mch_key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mch_key" data-rule="required" class="form-control" name="row[mch_key]" type="text" value="" placeholder="微信支付支付密钥">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('MchV3_key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mchv3_key" class="form-control" name="row[mchv3_key]" type="text" value="" placeholder="微信支付安全密钥">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ssl_cer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-ssl_cer" class="form-control" size="50" name="row[ssl_cer]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-ssl_cer" class="btn btn-danger plupload" data-input-id="c-ssl_cer" data-multiple="false" data-preview-id="p-ssl_cer"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-ssl_cer"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ssl_key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-ssl_key" class="form-control" size="50" name="row[ssl_key]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-ssl_key" class="btn btn-danger plupload" data-input-id="c-ssl_key" data-multiple="false" data-preview-id="p-ssl_key"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-ssl_cer"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_domain1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_domain1" data-rule="required" class="form-control" name="row[pay_domain1]" type="text" value="" placeholder="在微信支付后台设置">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_domain2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_domain2" class="form-control" name="row[pay_domain2]" type="text" value="" placeholder="在微信支付后台设置">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_domain3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_domain3" class="form-control" name="row[pay_domain3]" type="text" value="" placeholder="在微信支付后台设置">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_domain4')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_domain4" class="form-control" name="row[pay_domain4]" type="text" value="" placeholder="在微信支付后台设置">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_domain5')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_domain5" class="form-control" name="row[pay_domain5]" type="text" value="" placeholder="在微信支付后台设置">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Grant_domain_1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-grant_domain_1" class="form-control" name="row[grant_domain_1]" type="text" value="" placeholder="在微信公众号平台设置">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Grant_domain_2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-grant_domain_2" class="form-control" name="row[grant_domain_2]" type="text" value="" placeholder="在微信公众号平台设置">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Grant_domain_3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-grant_domain_3" class="form-control" name="row[grant_domain_3]" type="text" value="" placeholder="在微信公众号平台设置">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
